*
*/
!README.md
!NOTICE
!package.json
!dist/config-import-bundle.js
!dist/config-import-bundle.js.LICENSE.txt
!dist/config-import-bundle.js.map
!dist/rest-import-bundle.css
!dist/rest-import-bundle.css.map
!dist/rest-import-bundle.js
!dist/rest-import-bundle.js.LICENSE.txt
!dist/rest-import-bundle.js.map