.rest-import-ui {
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  html,
  body {
    max-width: 100vw;
    font-size:13px;
  }
  .box {
    background-color: lightblue;
    border: 1px solid red;
  }
  .cmnflx {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardcontainer:hover {
    border: 2px solid #1794ef;
  }
  .loadingScreen {
    width: "100%";
    height: "100%";
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    justify-content: center;
    align-items: center;
  }
  .text-danger {
    color: red;
  }
  :disabled {
    cursor: not-allowed; /* or 'default' or any other cursor style */
  }
  .rest-header{
    padding: 15px;
    background-color: #faf8f9;
    border-bottom: 1px solid #dfdfdf;
    .test-btn{
      font-size:13px;
      background-color: #1794ef;
      border: 1px solid #108ce7;
      font-size: 13px;
      color: #f3f4f4;
      padding: 2px 10px 3px;
      text-transform: capitalize;
      border-radius: 2px;
    }
    p{
      font-size:12px;
      color:rgb(33, 33, 33);
    }
    .service-input{
      margin-left:30px;
      input.Mui-disabled{
        background-color:rgba(168, 168, 168, 0.15);
      }
    }
  }
  .rest-tabs{
    button{
      font-size:13px;
    }
  }
  .form-control, .url-input div{
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    font-size: 11px;
    box-shadow: none;
    background-color: #fff;
    color: #212121;
    border-color: #d3d3d3;
  }
  .url-input label{
    font-size:12px;
  }

}
